pandas==1.5.3
numpy==1.24.2
scikit-learn==1.2.2
lightgbm==3.3.5
matplotlib==3.7.1
seaborn==0.12.2
japanize-matplotlib==1.1.3
jupyter==1.0.0
selenium==4.10.0
beautifulsoup4==4.12.2
lhafile==0.2.4
webdriver-manager==3.8.6
